@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    @*<link href="~/bootstrap/css/countsetting.css" rel="stylesheet" />
        <link href="~/bootstrap/css/StyleSheet.css" rel="stylesheet" />
        <link href="~/bootstrap/css/navbar.css" rel="stylesheet" />*@
</head>
<body>
    <div>
        @RenderBody()

    </div>
   
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
